@media (max-width: 767px) {
    .content-container {
        margin-bottom: -375px !important;
    }
    .push {
        height: 375px !important;
    }

    .home-page .bottom-subscribe-container {
        z-index: 5;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: 100%;
        background-color: #007fc0;
        background-image: url(../assets/planet.png), url(../assets/spacecraft.png), url(../assets/stars-bg.png);
        background-position: left bottom, left -200px center, left center;
        background-repeat: no-repeat, no-repeat, repeat-x;
    }

    .home-page .bottom-subscribe-container p {
        font-family: FreightSansBlackSC;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        max-width: 70%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .home-page .bottom-subscribe-container a {
        width: 19px;
        height: 19px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background-image: url(../assets/chevron-down.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .content-container {
        margin-bottom: -383px !important;
    }
    .push {
        height: 383px !important;
    }

    .home-page .bottom-subscribe-container {
        z-index: 5;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: 100%;
        background-color: #007fc0;

        background-image: url(../assets/planet.png), url(../assets/spacecraft.png), url(../assets/stars-bg.png);
        background-position: left bottom, left -100px center, left center;
        background-repeat: no-repeat, no-repeat, repeat-x;
    }

    .home-page .bottom-subscribe-container p {
        font-family: FreightSansBlackSC;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        max-width: 60%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .home-page .bottom-subscribe-container a {
        width: 19px;
        height: 19px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        background-image: url(../assets/chevron-down.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 992px) {
    .content-container {
        margin-bottom: -195px !important;
    }
    .push {
        height: 195px !important;
    }

    .home-page .bottom-subscribe-container {
        z-index: 5;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: 100%;
        background-color: #007fc0;

        background-image: url(../assets/planet.png), url(../assets/spacecraft.png), url(../assets/stars-bg.png);
        background-position: left bottom, left center, left center;
        background-repeat: no-repeat, no-repeat, repeat-x;
    }

    .home-page .bottom-subscribe-container p {
        font-family: FreightSansBlackSC;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        max-width: 60%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .home-page .bottom-subscribe-container a {
        width: 19px;
        height: 19px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        background-image: url(../assets/chevron-down.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.home-page {
    margin-top: 16px;
}
.home-page .banner {
    text-align: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding-bottom: 32px;
}
.home-page .banner span {
    display: block;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9f9f9f;
    text-align: center;
    margin-bottom: 16px;
}

.home-page .banner img {
    width: 100%;
    max-width: 970px;
}

.home-page .article-container {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding-top: 43px;
    padding-bottom: 16px;
    text-align: center;
}

.home-page .article-container h2 {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}
.home-page .article-container p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.home-page .article-container .author-container {
    width: 250px;
    height: 50px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 48px auto;
    background-image: url(../assets/authors/trevor-english.jpg);
    margin: auto;
    padding-left: 60px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #666;
}

.home-page .article-container .author-container .author-name {
    color: #007fc0;
    display: block;
}
.home-page .article-container .article-type-share {
    margin-top: 20px;
}

.home-page .article-container .article-type-share .article-type {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #007fc0;
}

.home-page .article-container .article-type-share .article-share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.home-page .article-container .article-type-share .article-share a.facebook {
    background-image: url(../assets/share/facebook.svg);
}
.home-page .article-container .article-type-share .article-share a.twitter {
    background-image: url(../assets/share/twitter.svg);
}
.home-page .article-container .article-type-share .article-share a.mail {
    background-image: url(../assets/share/mail.svg);
}
.home-page .article-container .article-type-share .article-share a.more {
    background-image: url(../assets/share/more.svg);
}

.home-page .article-image {
    width: 100%;
    margin-top: 32px;
}

.home-page .article-image-info {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    opacity: 0.8;
}

.home-page .article-content {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: justify;
}
