.login-page {
    margin-top: 40px;
}

.login-page .login-title {
    font-family: FreightSansBlackSC;
    font-style: italic;
    font-weight: normal;
    font-size: 31px;
    line-height: 41px;
    text-transform: uppercase;
    color: #007fc0;
    max-width: 130px;
    margin-bottom: 25px;
}

.login-page .login-title-seperator {
    background-image: url(../assets/login-seperator.svg);
    background-position: left center;
    background-repeat: repeat-x;
    margin-bottom: 25px;
}

.login-page .email-address {
    background-image: url(../assets/email-icon.png);
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.login-page .password {
    background-image: url(../assets/password-icon.png);
    background-position: left 13px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.login-page button.login-button {
    background: #007fc0 !important;
    border-radius: 3px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 24px;
}

.login-page button.login-button:hover,
.login-page button.login-button:focus {
    background: #007fc0;
    box-shadow: none;
}

.login-page button.login-email-button {
    background: #fff !important;
    border-radius: 3px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #007fc0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #007fc0;
    margin-top: 16px;
}

.login-page button.login-email-button:hover,
.login-page button.login-email-button:focus {
    background: #fff !important;
    box-shadow: none;
    color: #007fc0;
}
.login-page .or-container {
    margin-top: 40px !important;
}
.login-page .or-container .or-text {
    max-width: 50px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.3;
}
.login-page .or-container .or-seperator {
    background-repeat: repeat-x;
    background-image: url(../assets/or-seperator.svg);
    background-position: left center;
}

.login-page .no-account {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: block;
    margin:auto;
    width: 300px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 30px;
}

.login-page .no-account span{
    color: #ff9900;
}
.login-page .other-login-container{
    margin-top: 25px!important;
}
.login-page .google-login-button{
    border: 1px solid #ccc;
    border-radius: 3px;
}
