.plans-page .page-header {
    width: 100%;
    background: linear-gradient(180deg, #007fc0 95%, #fff 25%);
    padding-top: 75px;
    margin-bottom: 50px;
}

.plans-page .page-header .plan-main-info{
    position: relative;
}

.plans-page .page-content{
    min-height: 450px;
}

.plans-page .page-content p{
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 52px;
    color: #333;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.plans-page .page-header .plan-main-info .notebook-img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.plans-page .page-header h1 {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 52px;
    color: #ffffff;
}

.plans-page .page-header h1 span {
    color: #ff9900;
    display: block;
}

.plans-page .page-header h2 {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 36px;
}

.plans-page .page-header p {
    font-family: Imperial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 36px;
}

.plans-page .page-header .plan-link {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #000;
    text-decoration: none;
    height: 45px;
    width: 100%;
    display: block;
}
.plans-page .page-header .plan-link-container {
    background: #fff;
    border-radius: 27.5px;
    width: 90%;
}
.plans-page .page-header .plan-link-container .col {
    padding: 5px !important;
}
.plans-page .page-header .plan-link.active {
    color: #fff;
    background: #ff9900;
    border-radius: 22.5px;
}

.plans-page .page-header .plan-detay {
    background: #ffffff;
    border: 2px solid #ff9900;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 24px;
    margin-top: 36px;
}

.plans-page .page-header .plan-detay .plan-title {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #ff9900;
}

.plans-page .page-header .plan-detay .plan-description {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #16192c;
    opacity: 0.5;
}

.plans-page .page-header .plan-detay .plan-price {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #ff9900;
    display: block;
}

.plans-page .page-header .plan-detay .plan-no-discount {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 44px;
    text-align: left;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #828282;
    display: block;
    margin-left: 16px;
}

.plans-page .page-header .plan-detay .payment-button {
    background: #ff9900;
    border-radius: 4px;
    display: inline-block;
    height: 44px;
    width: 137px;
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 44px;
    color: #ffffff;
    text-align: center;
}

.plans-page .page-header .plan-detay .plan-detail {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.plans-page .page-header .plan-detay .plan-detail p {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #16192c;
    display: block;
}

.plans-page .page-header .show-hide-detail {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;
    display: block;
    width: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.plans-page .page-header .other-plan-detay {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 24px;
    margin-top: 24px;
}

.plans-page .page-header .other-plan-detay .plan-title {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #007fc0;
}

.plans-page .page-header .other-plan-detay .plan-price {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #007fc0;
}

.plans-page .page-header .other-plan-detay .plan-desc {
    font-family: FreightSansMediumSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #16192c;
    opacity: 0.5;
}
.plans-page .page-header .other-plan-detay .plan-no-discount {
    font-family: FreightSansBlackSC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #828282;
}
