@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "FreightSansBlackSC";
  src: url("../src/assets/fonts/FreightSansBlackSC.otf") format("opentype");
}

@font-face {
  font-family: "FreightSansMediumSC";
  src: url("../src/assets/fonts/FreightSansMediumSC.ttf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');

@media (max-width: 767px) {
  .default-header .navbar-container .custom-navbar {
    background-color: transparent !important;
    padding: 6px 0px 6px 0px;
  }

  .default-header .right-link-container a.search-link {
    background-image: url(../src/assets/search-icon.svg);
    width: 32px;
    margin-left: 3vw;
    margin-right: 0px;
    background-size: 22px 22px;
  }
  .default-footer,
  .push {
    height: 300px;
  }

  .default-footer {
    width: 100%;
    background: #16192c;
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .default-footer .footer-logo-container {
    height: 80px;
    position: relative;
  }
  .default-footer .footer-logo-container a {
    width: 133.86px;
    height: 40px;
    position: absolute;
    right: 50%;
    top: 60%;
    transform: translate(50%, -50%);
    background-image: url(../src/assets/interesting-engineering-logo.svg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  .default-footer .footer-social-media {
    height: 40px;
    position: relative;
  }

  .default-footer .footer-link-container {
    position: relative;
    height: 150px;
  }

  .default-footer .footer-link-container .row {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .default-footer .footer-link-container .row a {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }

  .default-footer .copyright-text-container {
    line-height: 20px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .default-header .navbar-container .custom-navbar {
    background-color: transparent !important;
    padding: 6px 0px 6px 0px;
  }

  .default-header .right-link-container a.search-link {
    background-image: url(../src/assets/search-icon.svg);
    width: 32px;
    margin-left: 30px;
    margin-right: 0px;
    background-size: 22px 22px;
  }

  .content-container {
    min-height: 100vh;
    margin-bottom: -308px;
  }
  .default-footer,
  .push {
    height: 308px;
  }

  .default-footer {
    width: 100%;
    background: #16192c;
    height: 308px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .default-footer .footer-logo-container {
    height: 80px;
    position: relative;
  }
  .default-footer .footer-logo-container a {
    width: 133.86px;
    height: 40px;
    position: absolute;
    right: 50%;
    top: 60%;
    transform: translate(50%, -50%);
    background-image: url(../src/assets/interesting-engineering-logo.svg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  .default-footer .footer-social-media {
    height: 30px;
    position: relative;
    padding-top: 15px;
    line-height: 30px;
  }

  .default-footer .footer-link-container {
    position: relative;
    height: 154px;
  }

  .default-footer .footer-link-container .row {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  .default-footer .footer-link-container .row a {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .default-header .navbar-container .custom-navbar {
    background-color: transparent !important;
    padding: 6px 0px 6px 0px;
  }

  .default-header .right-link-container a.search-link {
    background-image: url(../src/assets/search-icon.svg);
    width: 32px;
    margin-left: 3vw;
    margin-right: 0px;
    background-size: 22px 22px;
  }

  .content-container {
    min-height: 100vh;
    margin-bottom: -120px;
  }
  .default-footer,
  .push {
    height: 120px;
  }

  .default-footer {
    width: 100%;
    background: #16192c;
    height: 120px;
    padding-left: 93px;
    padding-right: 93px;
  }

  .default-footer .footer-logo-container a {
    width: 133.86px;
    height: 40.83px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../src/assets/interesting-engineering-logo.svg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }

  .default-footer .footer-link-container {
    position: relative;
    height: 120px;
  }

  .default-footer .footer-link-container .row {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  .default-footer .footer-link-container .row a {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }

  .default-footer .footer-logo-container {
    height: 120px;
  }
}

html,
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
  margin: 0;
}

.default-header {
  background: #007fc0;
}

.default-header .navbar-container {
  max-width: 300px !important;
}

.default-header .navbar-container .custom-navbar .navbar-collapse .navbar-nav .nav-link {
  font-family: FreightSansMediumSC;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
.default-header .navbar-container .custom-navbar .navbar-collapse .navbar-nav {
  padding-left: 52px;
}

.default-header .navbar-container .custom-navbar .navbar-toggler {
  margin: 0px !important;
  border: none;
  padding: 0px;
  padding-right: 20px;
}

.default-header .navbar-container .custom-navbar .navbar-toggler .navbar-toggler-icon {
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-image: url(../src/assets/hamburger-menu-icon.svg);
  background-size: 18px 12px;
}

.default-header .right-link-container a {
  font-family: FreightSansBlackSC;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-top: 12px;
  text-decoration: none;
}

.default-header .right-link-container a.newsletter-link {
  background-image: url(../src/assets/newsletter-icon.svg);
  padding-left: 38px;
}

.default-header .right-link-container a.podcast-link {
  background-image: url(../src/assets/podcast-icon.svg);
  padding-left: 42px;
  margin-left: 3vw;
}

.default-header .right-link-container a.subscribe-link {
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #007fc0;
  margin-left: 3vw;
}

.default-header .right-link-container a.sign-in-link {
  background-image: none;
  margin-left: 3vw;
}

.default-footer .footer-social-media {
  position: relative;
  height: 45px;
}
.default-footer .footer-logo-container {
  position: relative;
}

.default-footer .footer-link-container .row a span {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #fff;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.default-footer .footer-link-container .row .copyright-text-container {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: #ffffff;
  margin-top: 20px;
}

.default-footer .footer-social-media a {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.default-footer .footer-social-media a.facebook {
  background-image: url(../src/assets/social-icon/facebook.svg);
}
.default-footer .footer-social-media a.instagram {
  background-image: url(../src/assets/social-icon/instagram.svg);
}
.default-footer .footer-social-media a.youtube {
  background-image: url(../src/assets/social-icon/youtube.svg);
}
.default-footer .footer-social-media a.twitter {
  background-image: url(../src/assets/social-icon/twitter.svg);
}
.default-footer .footer-social-media a.linkedin {
  background-image: url(../src/assets/social-icon/linkedin.svg);
}
.default-footer .footer-social-media a.flipboard {
  background-image: url(../src/assets/social-icon/flipboard.svg);
}
